
a, a:visited {
	color: #3fabff;
	text-decoration: none;
}
a:hover {
	color: #008af5;
}
h1 {
	margin: 0;
	font-weight: 300;
	font-size: 35px;
	letter-spacing: -1px;
}
h2 {
	font-size: 15px;
	color: #a0a0a0;
	margin: 30px 0;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
p, .control-group {
	margin: 0 0 20px 0;
}
.demo {
	border-bottom: 1px solid #e8e8e8;
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.demo:last-child {
	border-bottom: 0 none;
}
.demo select, .demo input, .demo .selectize-control {
	width: 100%;
}
.demo > *:first-child {
	margin-top: 0;
}
.demo > *:last-child {
	margin-bottom: 0;
}
.demo .value {
	margin: 0 0 10px 0;
	font-size: 12px;
}
.demo .value span {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}

#wrapper {
	margin: 0;
    float: left;
    width: 100%;
    padding-top: 550px;
}

pre {
	background: #f8f8f8;
	border: 1px solid #f2f2f2;
	padding: 10px;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type=button] {
  	margin: 10px;
  	padding:10px;
    color: #f8f8f8;
    background: #529bd8;
    width: auto;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
 }
input[type=button]:hover {
  background-color:#2f8ddc;
 }
 
.jsgrid-pager
{
    width: 100%;
    float: left;
}

*.icon-green {color: green}
*.icon-black {color: black}

.objecttable {
	border-collapse: collapse; 
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:#eaebec;
	margin:20px;
	width:96%;
	border-bottom:solid 4px #2a7fb3;
}

.objecttable td {
	border-bottom:solid .5px 0xc0c0c0; 
}



.permstable a:link {
  color: #00a1e0;
  font-weight: bold;
  text-decoration: none; 
}
.permstable a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration:none;
}
.permstable a:active,
.permstable a:hover {
	color: #00a1ef;
	text-decoration:underline;
}

.permstable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	border-bottom:solid 4px #2a7fb3;
}

.permstable th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#bad3e8), to(#bad3e8));
	background: -moz-linear-gradient(top,  #bad3e8,  #bad3e8);
}
.permstable th:first-child {
	text-align: left;
	padding-left:20px;
}
.permstable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.permstable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.permstable tr {
	text-align: center;
	padding-left:20px;
}
.permstable td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.permstable td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.permstable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.permstable tr:last-child td {
	border-bottom:0;
}
.permstable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.permstable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.permstable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
  }
  
.perms-info tr th
{
width: 220px;
 text-overflow: clip;
} 

.perms tr th
{
    width: 30px;
}
.tab {
  widht: 300px;
  height: 200px;
}

.photo
{
vertical-align: top;
padding:5px;
}

.client-photo img
{
	width: 80px;
	border-radius:50%;
	border: 0.5 solid #c0c0c0;
	padding:5px;
}
.jsgrid-grid-body
{
height:auto;
float:left;
width:100%;

}

jsgrid-table
{
	width:0px;
	height: 0px;
}

.jsgrid-grid-header
{
	width:0px;
	height: 0px;
	
}
.features_table h1{
    font-size:25px !important;
	
}
li{
    list-style:none;
    }
h1{
     font-size:21px !important;
    }    
.features-table li {
    background: #da9748 none repeat scroll 0 0;
    border-bottom: 2px solid #e5a253;
    color: #f1f1f1;
    font-size: 16px;
    padding: 15px 24px;
}
.features-table li:hover{
	background:  #e5a253;
	cursor:pointer;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.features-table-free li, .features-table-paid li {
    background: #efefef none repeat scroll 0 0;
    border-bottom: 2px solid #d4d4d4;
	text-align:center;
    padding: 16.4px 21px;
	cursor:pointer;
}
.features-table-free h1, .features-table-paid h1 {
    text-align: center;
}
.features-table-free li:hover, .features-table-paid li:hover {
    background: #dedede none repeat scroll 0 0;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.features_table h1 {
    font-size: 23px !important;
}
.features-table h1, .features-table-free h1, .features-table-paid h1 {
    background: #6b6b6b none repeat scroll 0 0;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 19px 21px;
    text-transform: uppercase;
}
.features-table h1 {
    border-top-left-radius: 20px;
	text-align:center;
}
.features-table-paid h1 {
    border-top-right-radius: 20px;
}
.features-table-free li {
    border-right: 2px solid #d4d4d4;
}

.fa.fa-check {
    color: #59dc16;
    font-size: 16px;
}
.fa.fa-times {
    color: #f32609;
    font-size: 16px;
}
.fa{
	font-size:20px;
}
.no-padding{
	padding:0;
}
ul{
	padding:0;
}

body {
  counter-reset: section;                   /* Set the section counter to 0 */
}
.features-table li::before {
  counter-increment: section;               /* Increment the section counter*/
  content: "" counter(section) ": "; /* Display the counter */
}
.jsgrid-table
{
background-color: aliceblue;
border: solid 1px #1ca3ed;
}

.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #2f8ddc;
}

.demo {
		padding: 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
.tile
    {
    float: left;
    width: 20%;
    height: 100px;
    margin: 10px;
    border-left: 6px solid #00a1e0;
    background-color: aliceblue;
    font-size: 45px;
    text-align: center;
    color: #c0c0c0;
    padding-top:10px;
    }
    
.tilespan
{
	font-size: 20px;
    color: #505658;
}

.downloadbutton
{
	margin: 10px;
    padding: 10px;
    color: #f8f8f8;
    background: #529bd8;
    width: auto;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    float: right;
    dispaly:none;
}



